
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;  
}

body{
    background-image: url(../images/movile.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    background-size: 500px;
  
    
    
    @media screen and (width > 767px) {
        background-image: url(../images/cover1.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px;
           
    }
}

.header{

    
    &-title{
       width: 100vw;
        
    }

}
.card{
    margin-top: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr;justify-items: center;

    @media screen and (width > 767px) {
        grid-template-columns: 1fr 1fr 1fr 1fr ;
   
        
     
      
                   
    }


    

    &-img{
        width: 120px;
        height: 120px;
        border-radius: 40px;
        border: 2px solid #0cfa4d ;
        margin: 10px;
        

        @media screen and (width > 767px) {
           width: 150px;
           height: 150px;
                       
        }
    
    }

    &-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       width: 200px;
       height: 250px;
        border-radius: 15px;  
        background: rgba(121, 115, 115, 0.288);
    }

    &-title{
        color: white;
        
        text-align: center;
        
    }

    &-box{
        width: 100px;
        ;
    }


}

.link-card{
    text-decoration: none;
}

.input-filter{
    border: 2px solid #07b0c7;
    border-radius: 15px;
    text-align: center;
    height: 30px;
    width: 170px;
    color: white;
    background-color: black;


   @media screen and (width > 767px) {
      width: 250px;
                    
    }

    
 

}

.form{
    padding: 10px;
    display: flex;
    justify-content:start;
    color: #07b0c7;
    gap: 35px;
    text-align: center;

    @media screen and (width > 767px) {
      justify-content: center;
                    
    }

    
}

.radio{
    padding: 5px;
    font-weight: 600;
   
   
}


.detail{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &-img{
        border-radius: 12px;
     
    }

    &-container{
        border: 2px solid #0cfa4d ;
        border-radius: 15px;
        font-size: 25px;
        background: rgba(121, 115, 115, 0.288);
       
    }
    &-box{
        text-align: center;
    }

    &-link{
        font-size: 2rem;
        padding-bottom: 1.5rem;
        text-decoration: none;
        color: white;
        margin-top: 20px;
       
    }
}

.paragraph{
    font-weight: 600;
    margin-left: 150px;
    padding: 10px;
    color: white;
}

.link-home{
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
    font-weight: 600;
    font-size: 30px;

}

.paragraph-home{
    color: white;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.footer{
    padding: 15px;
    color: gainsboro;
}